:root {
    --els--width: 30px;
}
.els-board {
    position: sticky;
    width: 300px;
    height: 600px;
    border: 1px solid #e2e2e2;
    box-sizing: content-box;
    float: left;
}
.els-board::after {
    position: relative;
}
.els-overlay,
.block,
.move-block {
    display: grid;
    /* grid-column-gap: 0.5px;
    grid-row-gap: 0.5px; */
}
.block,
.move-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.els-plot {
    width: calc();
    width: var(--els--width);
    height: var(--els--width);
}
.els-plot-active {
    background-color: snow !important;
    /* border: 0.5px solid #e2e2e2; */
    /* opacity: 0.1; */
}
.els-overlay {
    background-color: #e2e2e2;
    border-collapse: collapse;
}
.els-overlay .els-plot {
    background-color: white;
    border: 0.5px solid #e2e2e2;
}
.block .els-plot {
    background-color: #999;
    border: 0.5px solid #e2e2e2;
}
.move-block .els-plot {
    background-color: #333;
    border: 0.5px solid #e2e2e2;
}
.starBtn {
}
.btn-Contienr {
    display: flex;
    justify-content: center;
    padding: 20px;
}
/* 看分板 */
.elsfk-continer-board::after {
    content: "";
    display: table;
    clear: both;
}
.elsfk-continer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.score-board {
    float: left;
    padding: 1rem;
    box-sizing: content-box;
    /* background-color: #e2e2e2; */
}
.score-board-point {
    position: relative;
    width: 100px;
    height: 100px;
    box-sizing: content-box;
}

.els-overlay-score,
.score-block {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    /* border-collapse: collapse; */
    /* grid-row-gap: 0.5px;
    grid-column-gap: ; */
}
.score-block {
    position: absolute;
    /* background-color: aqua; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.score-plot {
    width: 25px;
    height: 25px;
    border: 0.5px solid #e2e2e2;
}
.score-block .score-plot {
    background-color: #666;
}
.els-overlay-score .score-plot {
    background-color: white;
    /* border: 0.5px solid #e2e2e2; */
}
.score-div {
    color: #333;
    font-weight: 600;
    text-align: center;
}

.block-css-enter {
    opacity: 0;
}
.block-css-enter-active {
    opacity: 1;
    /* transition: opacity 500ms ease-in; */
}
.block-css-exit {
    opacity: 1;
}
.block-css-exit-active {
    opacity: 0;
    transition:  opacity 500ms ease-in;
}
