.holiday-continer {
}
.holiday-heard {
    padding: 1rem 0;
}
.holiday-heard-a {
    padding: 5px 8px;
    border: 1px solid gray;
    border-radius: 2px;
    text-decoration: none;
    font-size: 14px;
    color: #444;
}
.holiday-heard-a-active{
    background-color: forestgreen;
    color: wheat;
}
.holiday-heard .holiday-heard-a:not(:first-child) {
    margin-left: 10px;
}
.year-list table {
    font-size: 13px;
    border-collapse: collapse;
}
.year-list {
    width: 100%;
}
.year-list table th,
.year-list table td {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.year-list table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.calendar-list {
 margin-top: 20px;
 text-align: center;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;  
}
.calendar-list::after {
    
}
.calen-unite {
    width: 80px; 
}
.calen-unite-active{
    background: #ecffec!important
}
.calen-table {
    width: 49%;
    float: left;
    margin-right: 1%;
}
.calen-title{
    font-size: 16px;
    text-align: center;
    padding: 20px;
}
.calen-table tbody tr th {
    /* width: calc(100% / 7); */
}
.calen-unite sup{
 font-size: 12px;
}
.calen-unite var{
  font-size: 20px;
  font-weight: 600;
}
.calen-unite span{
    display: block;
    font-size: 12px;
}