
ol,
ul {
  padding-left: 30px;
}

.board-row {
  display: flex;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 20px;
  text-align: center;
  width: 34px;
}

.game-info {
  margin-left: 20px;
}
.btnCenter {
  padding: 0 10px;
  margin: 20px;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ----------- */
.game-heard{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.game-heard-a{
  text-decoration: none;
  padding:5px 10px;
  color:  #333;
  border:1rpx solid #999 ;
  border-radius: 5px;
}
.game-heard-a:hover{
  color: #999;
}
.game-heard-active{
  /* background-color: aqua; */
  color: var(--bs-blue);
  text-decoration: underline;
  /* border: 1px solid var(--bs-blue); */
}