:root {
    --default-widht: 80px;
}
.default-content {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}
.default-heard {
    align-items: center;
    text-align: center;
    padding: 20px 0;
}
.default-overlay {
    display: grid;
    /* grid-row-gap: 5px;
    grid-column-gap: 5px; */
    border-collapse: collapse;
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
}
.default-plot-span {
    background-color: white;
    width: 100%;
    height: 100%;
}

.default-plot-span-animal {
    animation: myfirst 0.25s;
}
@keyframes myfirst {
    from {
        transform: scale(0.75);
    }
    to {
        transform: scale(1);
    }
}
.default-plot {
    display: flex;
    width: var(--default-widht);
    height: var(--default-widht);
    line-height: var(--default-widht);
    text-align: center;
    border: 5px solid #eee;
    justify-content: center;
    align-items: center;
}

.btn-continer {
    text-align: center;
}

